canvas {
  /* border: 1px solid black; */
}

.slider-tall {
  float: right;
  height: 512px;
}
.slider-wide {
  width: 512px;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

#zoomdiv {
  display: inline;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons button {
  margin: 2px;
}

#roi_toggles {
  display: flex;
  flex-wrap: wrap;
}

.roi_box {
  border: 1px black solid;
  padding: 2px;
  text-shadow: 0 0 1px #7a7a7a;
}
