<form >
  <div>
  <mat-label>Search for a submission </mat-label>
  </div>
  <div>
    <mat-form-field >
      <mat-select [(value)]="selected1">
        <mat-option>None</mat-option>
        <mat-option value="site_code">Site Code</mat-option>
        <mat-option value="collection_code">Collection Code</mat-option>
        <mat-option value="site_name">Site Name</mat-option>
        <mat-option value="collection_name">Collection Name</mat-option>
        <mat-option value="patient_id_prefix">patient_id_prefix</mat-option>
        <mat-option value="body_part">body_part</mat-option>
        <mat-option value="access_type">access_type</mat-option>
        <mat-option value="baseline_date">baseline_date</mat-option>
        <mat-option value="date_shift">date_shift</mat-option>
      </mat-select>
            <mat-hint>You can change this option ^</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Search Criteria" [formControl]="searchFormControl1"
             [errorStateMatcher]="matcher">
      <!---   <mat-error *ngIf="searchFormControl1.hasError('required')">
        Cannot search for blank!
      </mat-error>--->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field >
      <mat-select [(value)]="selected2">
        <mat-option>None</mat-option>
        <mat-option value="site_code">Site Code</mat-option>
        <mat-option value="collection_code">Collection Code</mat-option>
        <mat-option value="site_name">Site Name</mat-option>
        <mat-option value="collection_name">Collection Name</mat-option>
        <mat-option value="patient_id_prefix">patient_id_prefix</mat-option>
        <mat-option value="body_part">body_part</mat-option>
        <mat-option value="access_type">access_type</mat-option>
        <mat-option value="baseline_date">baseline_date</mat-option>
        <mat-option value="date_shift">date_shift</mat-option>
      </mat-select>
      <mat-hint>You can change this option ^</mat-hint>
    </mat-form-field>

    <mat-form-field >
      <input matInput placeholder="Search Criteria" [formControl]="searchFormControl2"
             [errorStateMatcher]="matcher">
      <!---  <mat-error *ngIf="searchFormControl2.hasError('required')">
        Cannot search for blank!
      </mat-error>  --->
    </mat-form-field>
  </div>
</form>
<br>
<div>
  <button mat-raised-button (click)="performSearch()" (keyup.enter)="performSearch()" color="primary"  >Search</button>
  <button mat-raised-button (click)="showAll()" color="primary"  >ShowAll</button>
</div>
<div *ngIf="!addMode">
  <button mat-button (click)="enterAddMode()"  >Add New + </button>
</div>
<div *ngIf="addMode">
  <button mat-button (click)="exitAddMode()"   >Cancel</button>
  <form [formGroup]=myNewRootForms (ngSubmit)="add(myNewRootForms.value)">
  <table  style="width:100%" >
    <tr [formGroup]=myNewRootForms>
      <td><input matInput placeholder="Collection Code" formControlName="input_collection_code"></td>
      <td><input matInput placeholder="Collection Name" formControlName="input_collection_name"></td>
      <td><input matInput placeholder="Site Code" formControlName="input_site_code"></td>
      <td><input matInput placeholder="Site Name" formControlName="input_site_name"></td>
      <td><input matInput placeholder="Patient Id Prefix" formControlName="input_patient_id_prefix"></td>
      <td><input matInput placeholder="Body Part" formControlName="input_body_part"></td>
      <td><input matInput placeholder="Access Type" formControlName="input_access_type"></td>
      <td><input matInput placeholder="Baseline Date (XX-XX-XXXX)" formControlName="input_baseline_date"></td>
      <td><input matInput placeholder="Date Shift" formControlName="input_date_shift"></td>
    </tr>
  </table>
      <button mat-button type="submit">Add This Submission</button>
  </form>
</div>



  <table mat-table matSort [dataSource]="results">

    <ng-container matColumnDef="collection_code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Collection Code </th>
      <td mat-cell *matCellDef="let element"> {{element.collection_code}} </td>
    </ng-container>

    <ng-container matColumnDef="collection_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Collection Name </th>
      <td mat-cell *matCellDef="let element"> {{element.collection_name}} </td>
    </ng-container>

    <ng-container matColumnDef="site_code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Site Code </th>
      <td mat-cell *matCellDef="let element"> {{element.site_code}} </td>
    </ng-container>

    <ng-container matColumnDef="site_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Site Name</th>
      <td mat-cell *matCellDef="let element"> {{element.site_name}} </td>
    </ng-container>

    <ng-container matColumnDef="patient_id_prefix">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Id Prefix </th>
      <td mat-cell *matCellDef="let element"> {{element.patient_id_prefix}} </td>
    </ng-container>
    <ng-container matColumnDef="body_part">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Body Part </th>
      <td mat-cell *matCellDef="let element"> {{element.body_part}} </td>
    </ng-container>

    <ng-container matColumnDef="access_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Access Type </th>
      <td mat-cell *matCellDef="let element"> {{element.access_type}} </td>
    </ng-container>

    <ng-container matColumnDef="baseline_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Baseline Date </th>
      <td mat-cell *matCellDef="let element"> {{element.baseline_date}} </td>
    </ng-container>

    <ng-container matColumnDef="date_shift">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Shift</th>
      <td mat-cell *matCellDef="let element"> {{element.date_shift}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
