[Unit]
Description=Kaleidoscope-base Service
After=network.target posda.service

[Service]
User=posda
Group=posda
WorkingDirectory=/home/posda/kaleidoscope-base
ExecStart=/home/posda/.nvm/versions/node/v8.1.0/bin/node /home/posda/kaleidoscope-base/index.js
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
