canvas {
	/* border: 1px solid black; */
}
.zoom {
	transform: scale(4, 4);
	image-rendering: pixelated;
}

.slider-wide {
	width: 100%;
}
.slider-tall {
	height: 100%;
	float: right;
}
#container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

#zoomdiv {
  display: inline;
}
