<div id="container">
  <div style="width: 562px; height: 562px;">
  <canvas #canvas 
    [height]="512" 
    [width]="512"
    (mousemove)="onMouseMove($event)"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (wheel)="onMouseWheel($event)"
  ></canvas>
  <md-slider #wwidth vertical thumbLabel
    class="slider-tall"
    [style.height]="width + 'px'"
    min="-1000"
    max="1000"
    [value]="w_width"
    (input)="onChangeWidth($event)"
  ></md-slider>
  <md-slider #wcenter thumbLabel
    class="slider-wide" 
    [style.width]="width + 'px'"
    min="-1000" 
    max="1000"
      [value]="w_center"
      (input)="onChangeCenter($event)"
  ></md-slider>
  <p>
    <button md-raised-button (click)="reset()">Reset</button>
    <button md-raised-button (click)="winlev('bone')">Bone</button>
    <button md-raised-button (click)="winlev('soft-tissue')">Soft Tissue</button>
    <button md-raised-button (click)="resetZoom()">Reset Zoom</button>
  </p>
  </div>
</div>
