canvas {
  /* border: 1px solid black; */
}

.slider-tall {
  float: right;
  height: 512px;
}
.slider-wide {
  width: 512px;
}
#container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#zoomdiv {
  display: inline;
}
