[submodule "posda/posdatools"]
	path = posda/posdatools
	url = ssh://git@imphub:7999/pt/posdatools.git
[submodule "quince/quince"]
	path = quince/quince
	url = ssh://git@imphub:7999/pt/quince.git
[submodule "papi/posda-api"]
	path = posda/posda-api
	url = ssh://git@imphub:7999/pt/posda-api.git
[submodule "kaleidoscope/kaleidoscope"]
	path = kaleidoscope/kaleidoscope
	url = ssh://git@imphub:7999/pt/kaleidoscope.git
[submodule "kaleidoscope-base/k-base"]
	path = kaleidoscope-base/k-base
	url = ssh://git@imphub:7999/pt/kaleidoscope-base.git
