[submodule "posda/posdatools"]
	path = posda/posdatools
	url = https://code.imphub.org/scm/pt/posdatools.git
[submodule "quince/quince"]
	path = quince/quince
	url = https://code.imphub.org/scm/pt/quince.git
[submodule "nginx/quince"]
	path = nginx/quince
	url = https://code.imphub.org/scm/pt/quince.git
[submodule "papi/posda-api"]
	path = posda/posda-api
	url = https://code.imphub.org/scm/pt/posda-api.git
[submodule "nginx/kaleidoscope"]
	path = nginx/kaleidoscope
	url = https://code.imphub.org/scm/pt/kaleidoscope.git
[submodule "kaleidoscope/kaleidoscope"]
	path = kaleidoscope/kaleidoscope
	url = https://code.imphub.org/scm/pt/kaleidoscope.git
[submodule "kaleidoscope-base/k-base"]
	path = kaleidoscope-base/k-base
	url = https://code.imphub.org/scm/pt/kaleidoscope-base.git
