[submodule "ohif/Viewers"]
	path = ohif/Viewers
	url = https://github.com/OHIF/Viewers.git
[submodule "nopperabo/masker"]
	path = nopperabo/masker
	url = git@github.com:quasarj/masker.git
[submodule "web/mirabelle"]
	path = web/mirabelle
	url = git@github.com:quasarj/mirabelle.git
