version: '3.2'

services:
    db:
        image: postgres:10.1-alpine
        restart: always
        environment:
            POSTGRES_PASSWORD: example
        volumes:
            - pgdata_alpine:/var/lib/postgresql/data
        ports:
            - 5433:5432

    redis:
        image: redis:latest
        restart: always

    posda:
        image: tcia/posda:latest
        restart: always
        depends_on:
            - db
        ports:
            - 64610-64699:64610-64699
            - 11112:104
        volumes:
            - posda_cache_alpine:/home/posda/cache
            - ./posda/posdatools:/home/posda/posdatools
            - /mnt:/mnt
            - /nas:/nas
        env_file: 
            - database.env
            - common.env

    posda-fast-file-process:
        image: tcia/posda:latest
        command: file-process
        restart: always
        depends_on:
            - db
            - redis
        volumes:
            - posda_cache_alpine:/home/posda/cache
            - ./posda/posdatools:/home/posda/posdatools
            - /mnt:/mnt
            - /nas:/nas
        env_file: 
            - database.env
            - common.env

    posda-api:
        image: tcia/posda:latest
        command: api
        restart: always
        depends_on:
            - db
            - posda
        env_file: 
            - database.env
            - common.env

        volumes:
            - posda_cache_alpine:/home/posda/cache
            - ./posda/posda-api:/posda-api
            - /mnt:/mnt
            - /nas:/nas

    quince:
        image: tcia/quince:latest
        restart: always
        depends_on:
            - db
            - posda
        volumes:
            - posda_cache_alpine:/home/posda/cache
            - quince_files:/html
            - /mnt:/mnt
            - /nas:/nas
        env_file: 
            - database.env
            - common.env

    kaleidoscope:
        image: tcia/kaleidoscope:latest
        restart: always
        depends_on:
            - db
            - posda
        volumes:
            - posda_cache_alpine:/home/posda/cache
            - kaleidoscope_files:/html
            - ./kaleidoscope/kaleidoscope:/app
        env_file: 
            - database.env
            - common.env
        # environment:
        #     DEBUG: 1

    k-base:
        image: tcia/k-base:latest
        restart: always
        depends_on:
            - db
            - posda
        volumes:
            - posda_cache_alpine:/home/posda/cache
            - /mnt:/mnt
            - /nas:/nas
        env_file: 
            - database.env
            - common.env
        links:
            - quince:quince

    nginx:
        image: tcia/posda_web:latest
        restart: always
        ports:
            - 80:80
        depends_on:
            - posda
            - quince
            - kaleidoscope
        links:
            - posda:posda
            - posda-api:posda-api
            - quince:quince
            - kaleidoscope:kaleidoscope
        volumes:
            - type: volume
              source: quince_files
              target: /quince
              volume:
                nocopy: true
            - type: volume
              source: kaleidoscope_files
              target: /kaleidoscope
              volume:
                nocopy: true

volumes:
    posda_cache_alpine:
    # posda_submission_root:
    pgdata_alpine:
    quince_files:
    kaleidoscope_files:


