<h1>Posda</h1>
<h2 *ngIf="user != null">User {{user}}</h2>
<form id="login_form"
      *ngIf="user == null"
      [formGroup]="loginForm"
      (ngSubmit)="login(loginForm.value)">
  <div>
    <label for="username">
      Username
    </label>
    <input id="username" type="text" formControlName="username">
  </div>
  <div>
    <label for="password">
      Password
    </label>
    <input id="password" type="password" formControlName="password">
  </div>
  <button class="button" id="login" type="submit">Login</button>
</form>
<router-outlet></router-outlet>
