[Unit]
Description=Posda NopperaBo (Masker)
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/oneposda/install/start-scripts/start-nopperabo.sh

[Install]
WantedBy=multi-user.target
