[Unit]
Description=Posda REST API
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/oneposda/install/start-api.sh

[Install]
WantedBy=multi-user.target
