[Unit]
Description=Posda main process
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/oneposda/install/start-posda.sh

[Install]
WantedBy=multi-user.target
