[Unit]
Description=Posda Worker Node (high / 1)
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/oneposda/install/start-worker.sh 1

[Install]
WantedBy=multi-user.target
