/* $Source: /home/bbennett/pass/archive/HttpRoot/http_root/media/css/demo_validation.css,v $
   $Date: 2013/01/16 19:10:53 $
   $Revision: 1.1 $
 */

﻿/* Validation styles ------ */
label.error {
    background: url("../images/unchecked.gif") no-repeat scroll 0 0 transparent;
    color: #EA5200;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 16px;
}

