version: '3.2'

services:
    db:
        image: postgres:10.1-alpine
        restart: always
        environment:
            POSTGRES_PASSWORD: example
        volumes:
            - pgdata_alpine:/var/lib/postgresql/data
            - ./database/all.sql:/docker-entrypoint-initdb.d/all.sql
        ports:
            - 5433:5432

    redis:
        image: redis:latest
        restart: always

    steve:
        image: tcia/posda:latest
        working_dir: "/home/posda/posdatools/systemd"
        command: "/home/posda/posdatools/systemd/run_in_posda_env.sh /steve/steve.py"
        restart: always
        volumes:
            - posda_cache_alpine:/home/posda/cache
            - ./posda/posdatools:/home/posda/posdatools
            - ./steve:/steve
            - /mnt:/mnt
            - /nas:/nas
        env_file:
            - database.env
            - common.env

    ream:
        image: tcia/ream:latest
        restart: always
        volumes:
            - posda_cache_alpine:/home/posda/cache
            - ./posda/posdatools:/home/posda/posdatools
            - ./ream:/ream
            - /mnt:/mnt
            - /nas:/nas
        env_file:
            - database.env
            - common.env
            - ream.env

    exodus:
        image: tcia/exodus:latest
        restart: always
        volumes:
            - posda_cache_alpine:/home/posda/cache
            - ./posda/posdatools:/home/posda/posdatools
            - ./exodus:/exodus
            - /mnt:/mnt
            - /nas:/nas
        env_file:
            - database.env
            - common.env
            - exodus.env

    thumbs:
        image: tcia/lanterna:latest
        command: "/scripts/thumbs.py"
        restart: always
        volumes:
            - posda_cache_alpine:/home/posda/cache
            - ./posda/posdatools:/home/posda/posdatools
            - ./lanterna:/scripts
            - /mnt:/mnt
            - /nas:/nas
        env_file:
            - database.env
            - common.env

    posda:
        image: tcia/posda:latest
        restart: always
        depends_on:
            - db
        ports:
            - 64610-64699:64610-64699
            - 11112:11112
        volumes:
            - posda_cache_alpine:/home/posda/cache
            - ./posda/posdatools:/home/posda/posdatools
            - /mnt:/mnt
            - /nas:/nas
        env_file:
            - database.env
            - common.env
            - nbia.env

    posda-fast-file-process:
        image: tcia/posda:latest
        command: file-process
        restart: always
        depends_on:
            - db
            - redis
        volumes:
            - posda_cache_alpine:/home/posda/cache
            - ./posda/posdatools:/home/posda/posdatools
            - /mnt:/mnt
            - /nas:/nas
        env_file:
            - database.env
            - common.env

    posda-api:
        image: tcia/posda:latest
        command: api
        restart: always
        depends_on:
            - db
            - posda
        env_file:
            - database.env
            - common.env
            - api.env

        volumes:
            - posda_cache_alpine:/home/posda/cache
            - ./posda/fastapi/app:/fastapi
            - ./posda/posdatools:/home/posda/posdatools
            - /mnt:/mnt
            - /nas:/nas

    kaleidoscope:
        image: tcia/kaleidoscope:latest
        restart: always
        depends_on:
            - db
            - posda
        volumes:
            - posda_cache_alpine:/home/posda/cache
            - kaleidoscope_files:/html
        env_file:
            - database.env
            - common.env
        # environment:
        #     DEBUG: 1

    k-base:
        image: tcia/k-base:latest
        restart: always
        depends_on:
            - db
            - posda
        volumes:
            - posda_cache_alpine:/home/posda/cache
            - /mnt:/mnt
            - /nas:/nas
        env_file:
            - database.env
            - common.env

    web:
        image: tcia/posda_web:latest
        restart: always
        ports:
            - 80:80
        depends_on:
            - posda
            - kaleidoscope
        links:
            - posda:posda
            - posda-api:posda-api
            - kaleidoscope:kaleidoscope
        volumes:
            - type: volume
              source: kaleidoscope_files
              target: /kaleidoscope
              volume:
                nocopy: true

volumes:
    posda_cache_alpine:
    # posda_submission_root:
    pgdata_alpine:
    kaleidoscope_files:
