aiofiles==0.3.1
appdirs==1.4.3
# pinned to earlier version of aynscpg to support Postgres 8.x!
asyncpg==0.5.1
httptools==0.0.9
packaging==16.8
pyparsing==2.2.0
sanic==0.4.1
six==1.10.0
ujson==1.35
uvloop==0.8.0
chardet
