<div *ngIf="series">

  <img *ngIf="series.path"
       [src]="'/api/img?path=' + series.path + '&token=' + service.token" />

  <table class="table">
    <tr>
      <td>IEC</td>
      <td>{{series.image_equivalence_class_id}}
      <button class="btn btn-primary" 
              (click)="openPopupIec()">Open in Quince</button>
      </td>
    </tr>
    <tr>
      <td>Images in series</td>
      <td>{{series.file_count}}</td>
    </tr>
    <tr>
      <td>Patient ID</td>
      <td>{{series.patient_name}}</td>
    </tr>
    <tr>
      <td>Body part examined</td>
      <td>{{series.body_part_examined}}</td>
    </tr>
    <tr *ngIf="series.review_status">
      <td>Current review status</td>
      <td>{{series.review_status}}</td>
    </tr>
    <tr *ngIf="series.update_user">
      <td>Status set by user</td>
	  <td>{{series.update_user}} at {{series.update_date}}</td>
    </tr>
    <tr>
      <td>Series Instance UID</td>
	  <td>
      {{series.series_instance_uid}}
      <button class="btn btn-primary" 
              (click)="openPopup()">Open in Quince</button>
    </td>
    </tr>
    <tr>
      <td>Path</td>
      <td>{{series.path}}</td>
    </tr>
  </table>
</div>
