[Unit]
Description=Posda API Server
After=network.target posda.service

[Service]
User=posda
Group=posda
WorkingDirectory=/home/posda/posda-api
ExecStart=/opt/python36/bin/python3.6 /home/posda/posda-api/api-server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
