aiofiles==0.4.0
asyncpg==0.18.3
certifi==2019.3.9
chardet==3.0.4
httptools==0.0.13
idna==2.8
multidict==4.5.2
numpy==1.16.3
requests==2.22.0
sanic==19.3.1
ujson==1.35
urllib3==1.25.2
uvloop==0.12.2
websockets==6.0
redis==3.2.1
