<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/k/">Kaleidoscope</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="home()">Home</a>
      </li>
      <!-- <li class="nav-item"> -->
      <!--   <a class="nav-link" href="#">Link</a> -->
      <!-- </li> -->
      <!-- <li class="nav-item"> -->
      <!--   <a class="nav-link disabled" href="#">Disabled</a> -->
      <!-- </li> -->
    </ul>
    <ul class="navbar-nav mr-auto">
      <li *ngIf="mode" class="nav-item active">
        <p>Mode: {{mode}}</p>
      </li>
      <li *ngIf="project" class="nav-item active">
        <p>Project: {{project.project_name}} / {{project.site_name}}</p>
      </li>
    </ul>
  </div>
</nav>
