<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/k/">Kaleidoscope</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin">Admin</a>
      </li>
    </ul>


    <div class="d-flex flex-row">
      <div *ngIf="mode" class="px-2 d-flex flex-column">
        <small class="text-muted">Mode</small>
        {{mode}}
      </div>
      <div *ngIf="project" class="px-2 d-flex flex-column">
        <small class="text-muted">Project</small>
        {{project}}
      </div>
      <div *ngIf="visual_review_instance_id" class="px-2 d-flex flex-column">
        <small class="text-muted">VRI ID</small>
        <div class="align-self-center">{{visual_review_instance_id}}</div>
      </div>
      <div *ngIf="dicom_file_type" class="px-2 d-flex flex-column">
        <small class="text-muted">Dicom File Type</small>
        {{dicom_file_type}}
      </div>
    </div>

  </div>
</nav>
