canvas {
  /* border: 1px solid black; */
}

.slider-tall {
  float: right;
  height: 512px;
}
.slider-wide {
  width: 512px;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

#overcontainer {
  display: flex;
  justify-content: center;
}

#zoomdiv {
  display: inline;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons button {
  margin: 2px;
}

.scroll_test {
  height: 550px;
}
